In [ ]:
#!pip install pandas nltk
#!pip install tqdm

In [1]:
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import pandas as pd
from tqdm import tqdm
import nltk
from nltk.tokenize import word_tokenize
from collections import Counter

In [2]:
input_file = "../data/toxic_comments_cleaned.csv"
output_file = "../data/processed.csv"
vocab_file = '../data/vocab.csv'

In [3]:
df = pd.read_csv(output_file)
vocab = pd.read_csv(vocab_file)

C:\Users\msi\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df.head(4)

,id,target,tokenized_comment,sequence
0,0000997932d777bf,0.0,"['explan', 'edit', 'made', 'usernam', 'hardcor...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,000103f0d9cfb60f,0.0,"['daww', 'match', 'background', 'colour', 'im'...","[28, 29, 30, 31, 25, 32, 33, 34, 22, 35, 36, 3..."
2,000113f07ec002fd,0.0,"['hey', 'man', 'im', 'realli', 'tri', 'edit', ...","[39, 40, 25, 41, 42, 2, 43, 44, 45, 20, 46, 47..."
3,0001b41b1c6bb37e,0.0,"['cant', 'make', 'real', 'suggest', 'improv', ...","[54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 6..."

In [6]:
vocab.head(4)

     word  id
0   [PAD]   0
1  explan   1
2    edit   2
3    made   3